/* 饼图组件样式 */
.h5_component_pie{
	font-size: 15px;
}
.h5_component_pie canvas{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.h5_component_pie .text{
	position: absolute;
	z-index: 8;
	text-align: center;
	height: 22px;
	opacity: 0;
}
